* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

#sky {
  width: 100vw;
  height: 100vh;
  background: #f0f0f0;
  position: relative;
}

.cloud {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.cloud-body {
  position: absolute;
  background: #ffffff;
  border-radius: 50%;
  width: 600px;
  height: 300px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
}

.cloud-puff {
  position: absolute;
  background: #ffffff;
  border-radius: 50%;
}

.cloud-puff-1 {
  width: 280px;
  height: 280px;
  top: 40px;
  left: 80px;
}

.cloud-puff-2 {
  width: 350px;
  height: 320px;
  top: 0;
  left: 200px;
}

.cloud-puff-3 {
  width: 260px;
  height: 260px;
  top: 60px;
  right: 60px;
}

.cloud-puff-4 {
  width: 200px;
  height: 200px;
  top: 120px;
  left: 20px;
}

.cloud-puff-5 {
  width: 180px;
  height: 180px;
  top: 140px;
  right: 20px;
}

.cloud-text {
  position: relative;
  z-index: 10;
  font-family: 'Georgia', serif;
  font-size: 32px;
  color: #666;
  text-align: center;
  padding: 0 50px;
  margin-top: 80px;
}
